@font-face {
    font-family: 'Uni Sans Heavy CAPS';
    src: url('UniSansHeavyCAPS.eot');
    src: url('UniSansHeavyCAPS.eot?#iefix') format('embedded-opentype'),
        url('UniSansHeavyCAPS.woff2') format('woff2'),
        url('UniSansHeavyCAPS.woff') format('woff'),
        url('UniSansHeavyCAPS.ttf') format('truetype'),
        url('UniSansHeavyCAPS.svg#UniSansHeavyCAPS') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

